@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}


.logpage {
    overflow-y: hidden;
    height: 100%;
}

.leftPart {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo {
    margin-right: 3%;
}

.logo1 {
    color: #2B2B43;
    font-weight: bold;
}

.logo2 {
    color: #4E60FF;
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-between;
}

.logheading {
    color: #2B2B43;
    font-weight: 700;
    font-size: 60px;
}

.reg {
    color: #545563;
    font-weight: 400;
    font-size: 14px;
    max-width: 90%;
}

.log-data {
    display: flex;
    flex-direction: column;
}

.log-check {
    display: flex;
}

.label {
    font-weight: 400;
    font-size: 14px;
}

.inpname {

    font-weight: 600;
    font-size: 12px;
    display: block;
}

.loginp {
    width: 90%;
    height: 44px;
    border: 1px solid #C7C8D2;
    border-radius: 8px;
    padding: 8px;
}

.loginp:focus {
    outline: none;
    border-color: #4E60FF;
}

.login {
    background-color: #4E60FF;
    color: #FFFFFF;
    width: 90%;
    height: 44px;
    border: none;
    border-radius: 8px;
}

.login:hover {
    background-color: #1d37fd;
}

.loga {

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;
    color: #4E60FF;
    text-decoration: none;
}

.mainfooter {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.aside {
    position: relative;
    background-color: #697BFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.img1 {
    width: 30%;
    height: 50%;
    border-radius: 14.3086px;
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 10%;
}

.img2 {
    border-radius: 13.44px;
    width: 22%;
    height: 20%;
    z-index: 2;
    position: absolute;
    top: 28%;
    right: 33%;
}

.img3 {
    width: 60%;
    height: 15%;
    border-radius: 13.5452px;
    z-index: 3;
    position: absolute;
    bottom: 25%;
    left:18%;
}
.aside-footer{
    position: absolute;
    top: 78%;
    text-align: center;
    width: 70%;
}
.circles{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-around;
    position:absolute;
    left: 40%;
}
.footer-header {
    font-weight: 700;
    font-size: 32px;
}


.personal-header {
    display: flex;
    border-bottom: 1px solid #2B2B43;
    padding: 1% 8% 1% 8%;
}

.header-1 {
    display: flex;
    width: 40%;
    align-items: center;
}

.header-2 {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.search {
    background: #EDEEF2;
    border-radius: 12px;
    font-weight: 400;
    font-size: 14px;
    width: 70%;
}

.restaurant-list li {
    list-style-type: none;
}

.restaurant-list a,
.li {
    text-decoration: none;
    color: #2B2B43;
    font-weight: 700;
    font-size: 14px;
}

.restaurant-list {
    display: flex;
    border-right: 1px solid #EDEEF2;
    width: 50%;
    justify-content: space-evenly;
}

.myOrder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.icon-box {
    width: 48px;
    height: 48px;
    border-radius: 16px;
    background-color: #F3F4FF;
}

.icon-box:focus {
    border: #4E60FF;
    background: #4E60FF;
}

.user {
    padding: 1px;
    border: 3px solid #EDEEF2;
    border-radius: 16px;
}

.focus-info {
    position: relative;
}

.count {
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: #4E60FF;
    border-radius: 8px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.heading {
    font-weight: 600;
    font-size: 20px;
    color: #2B2B43;
}

.settings {
    padding: 1% 0 1% 8%;
}

.setting {
    display: flex;
    width: 90%;
    border: 2px solid #F3F4FF;
    padding: 1%;
    align-items: center;
    border-radius: 16px;
    margin-top: 2%;
}

.setting:hover {
    border: 2px solid #4E60FF;
    background: #F3F4FF;
}

.icons:hover {
    background-color: #4E60FF;
}

.setting a {
    text-decoration: none;
}

.settings-info {
    color: #2B2B43;
    font-weight: 700;
    font-size: 14px;
}

.settings-info-info {
    color: #545563;
    font-weight: 400;
    font-size: 13px;
}

.icons {
    margin-right: 2%;
}

.account-article{
    padding: 1% 8% 1% 0;
}

.inputs-checkboxes{
    padding: 2%;
    border: 2px solid  #F3F4FF;
    margin-top: 2%;
    border-radius: 16px;
    box-sizing: border-box;
}

.personal-heading{
    font-weight: 700;
    font-size: 18px;
}

.avatarka{
    height: 90px;
    width: 90px;
    border-radius: 8px;
}

.form1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button1{
    width: 100px;
    height: 60px;
    color: #83859C;
    border: 2px solid #83859C;
    background: white;
    border-radius: 16px;
    font-weight: 700;
    font-size: 14px;
}

.button1:hover{
    border: 2px solid #4E60FF;
    color: #4E60FF;

}

.inp-fild{
    font-weight: 600;
    font-size: 12px;
    display: block;
}
.personal-inputs:focus{
    outline: none;
    border-color: #4E60FF;
}

.personal-inputs{
    height: 40px;
    padding: 4px;
    border: 1px solid #C7C8D2;
    border-radius: 8px;
}

.grid-item{
    display:flex;
    flex-direction: column;
}

.personal-mail-not{
    margin-top: 4%;
}

.grid-item1 label{
    font-weight: 400;
    font-size: 14px;
    margin-left: 3%;
}

.log-out{
    color: #FF5C60;
    border: 2px solid #FF5C60;
}
.end{
    height: 44px;
    width: 124px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 8px;
    background-color: #FFFFFF;
}
.reset{
    color: #83859C;
    border: 2px solid #83859C;
}
.submit{
    background-color: #4E60FF;
    color: #FFFFFF;
    border: none;
}


.menu{
    padding: 1% 8%;
}
.big{
    position: relative;
    border-radius: 16px;
    display: flex;
    box-sizing: border-box;
}
.big1{
    background-color: #F3F4FF;;
}
.big2{
    background-color: #FFF3ED;;
}
.img-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
}
.menu-title h2{
    font-weight: 600;
font-size: 20px;
}
.discount{
    font-weight: 800;
font-size: 40px;
}
.discount1{
    color: #4E60FF;
}
.discount2{
    color: #FD6D22;
}
.items{
    padding: 0% 8%;
    display: flex;
    justify-content: space-between;
}
.type{
    font-weight: 400;
font-size: 14px;
color: #83859C;
}
.type1{
    background: #F8F9FF;
    border-radius: 16px;
    border: 1px solid #EDEEF2;
    width: 160px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.type1:hover{
    border: 1px solid #4E60FF;
    color: #4E60FF;
    background: #F3F4FF;
}
.name{
    font-weight: 700;
font-size: 13px;
}

.restaurants{
    padding: 2% 8%;
}
.restaurant {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1%;
}

.grid3 {
    border: 1px solid #EDEEF2;
    box-sizing: border-box;
    border-radius: 16px;
    position: relative;
    
}

.restaurant-img {
    box-sizing: border-box;
    border-radius: 16px;
    z-index: 1;
}

.absolute {
    position: absolute;
    right: 0;
    border-radius: 0 16px;
    background-color: #4E60FF;
    z-index: 2;
    color: white;
    font-weight: 700;
font-size: 11px;
padding: 8px 16px;
}

.div-button {
    background: #EDEEF2;
    border-radius: 100px;
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    margin: 3%;
}
.buttons2{
 display: flex;
 padding-bottom: 2%;
}

@media (max-width:600px) {
    aside {
        display: none;
    }

    .restaurant-list,
    .li {
        display: none;
    }

    .myOrder {
        width: 70%;

    }

    .user {
        border-right: 1px solid #EDEEF2;
    }
    .account-article{
        padding-left: 8%;
        padding-top: 3%;
    }
    .form1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .grid-item{
        margin-top: 10%;
    }
    .personal-heading{
        margin-top: 15%;
    }
    .form3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .log-out{
        width: 100%;
        display: block;
        margin-top: 3%;
    }
    .submit-reset-buttons{
        display: flex;
        justify-content: space-between;
        margin-top: 3%;
    }
    .unseens{
        display: none;
    }

    .big{
        width: 100%;
        height: 296px;
        margin-top: 5%;
    }
    .img-text{
        top: 6%;
        left: 6%;
    }
    .items{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .restaurant{
        display: block;
    }

}

@media (min-width:600px) {
    .logpage {
        display: flex;
    }

    .leftPart {
        width: 35%;
    }

    aside {
        width: 65%;
    }

    .more {
        display: none;
    }
    .personal-main{
        display: flex;
        flex-direction: row;
    }
    .settings{
        width: 45%;
    }
    .account-article{
        width: 55%;
    }
    .form1{
        width: 60%;
    }
    
    .form2{
        display: grid;
        column-gap: 2%;
        row-gap: 5%;
        width: inherit;
        grid-template-columns: auto auto;
        margin-top: 2%;
    }
    .form3{
        display: grid;
        grid-auto-flow:row;
        column-gap: 2%;
        row-gap: 5%;
        grid-template-columns: auto auto;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
        padding-top: 2%;
        border-top: 1px solid #F3F4FF;
    }
    .menu{
        display: flex;
        justify-content: space-between;
    }
    .big{
        width:49%;
    }
    .big-img{
        bottom: 0;
        /* position: absolute; */
    }
    .img-text{
        right: 5%;
        top:5%;
    }
    
}